.Aluno-Cursos-mobile{
    padding: 10px 10px;
    display: none;
}

.Aluno-cursos-mobile-div{
    border: 3px solid #0060EB;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px;
}

.Aluno-cursos-mobile-div p{
    font-size: 17px;
}

.Aluno-cursos-mobile-informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Aluno-cursos-mobile-informacao a {
    padding: 20px;
    cursor: pointer;
}



@media (max-width: 570px){
    .Aluno-cursos-desktop{
        display: none;
    }
    .Aluno-Cursos-mobile{
        display: block;
    }
    
}