.esqueci-minha-senha-cpf-div{
    margin: 10px 5px;

   
}
.esqueci-minha-senha-cpf-div h1{
    color: white;
    margin-bottom: 20px !important;
    text-align: center;
}

.container-esqueci-minha-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0060EB;
}
.input-esqueci-minha-senha{
    border: 2px solid white;
    padding: 10px 5px;
    width: 100%;
    border-radius: 5px;
}

.button-esqueci-minha-senha{
    margin: 35px 0px;
    padding: 10px 0px;
    width: 100%;
    background-color: #31AB52;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #31AB52;
    border-radius: 5px;
}