.cadastrar-turma-flex-20vh{
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-align: center;
}
.cadastrar-turma-flex-80vh {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.input-cadastrar-turma-margin{
    margin: 10px 5px;
    border-radius: 20px;   
    border: 1px solid blue;
    padding: 5px 5px;
    width: 200px;
}


@media (max-width:500px){
    .cadastrar-turma-flex-80vh
    {
        width: 85%;
   
    }
}