.input-perfil-disciplina-att{
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid #0060EB;
    border-radius: 5px;
    padding: 10px 5px;
    height: 50px;
}
.input-perfil-disciplina-att-select{
    width: 310px;
    border: 2px solid #0060EB;
    padding: 10px 5px;
    height: 50px;
    border-radius: 5px;
}

@media (max-width: 328px){
    .input-perfil-disciplina-att{
        width: 250px;
    }
    .input-perfil-disciplina-att-select{
        width: 266px;
    }
}

@media (max-width: 310px){
    .input-perfil-disciplina-att{
        width: 230px;
    }
    .input-perfil-disciplina-att-select{
        width: 240px;
    }
}

@media (max-width: 254px){
    .input-perfil-disciplina-att{
        width: 87%;
        margin: 10px 5px;
    }
    .input-perfil-disciplina-att-select{
        width: 92%;
        margin: 10px 5px;
    }
}