.icon-lixeira-perfil{
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
}

.input-data{
    width: 100%;
    text-align: center;
    border-top: 1px solid blue !important;
    border-left: 1px solid blue !important;
    border-right: 1px solid blue !important;
    border-radius: 3px;
    border-bottom: 1px solid blue !important;
    padding: 5px !important;
    
}

.icon-save-one-perfil{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

/* INPUT DE ENTRADA */

.input-global-css-entrada{
    width: 93%;
    margin: 10px 0px;
    border: 2px solid #0060EB;
    border-radius: 5px;
    padding: 10px;
}

.margin-select-zero select {
    width: 100% !important;
}
.styles-select-global{
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #0060EB;
    border-radius: 5px;
    padding: 10px;
}

.option-div-mobile{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 800px){
    .bg-footer{
        height: 50px !important;
    }
}