@import url(
'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap'
);

body{
    font-family: Roboto, sans-serif, Helvetica;
}
.flex{
    display: flex;
    justify-content: space-between;
   
}

.btn-main-cadastro{
    padding-left: 5px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border-radius: #000000;
    background: transparent;
    border: 1px solid black;
}

.btn2 {
    padding-left: 5px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
}

.select {
    height: 33px;
    width: 260px;
}

.submit-env{
    width: 100%;
    padding: 15px 0px;
    background:  #0060EB;
    border: none;
    color: white
}

.submit-env:hover{
  
    background: green;
    border: none;
}

.submit-cancel{
    border: none;
    width: 100%;
    padding: 15px 0px;
    background: red;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit-cancel:hover{
    border: none;
    background: #FF5252;
    color: white;
    margin-top: 10px;
}

.espaco{
    margin-top: 30px;
}
.coluna-cadastro-1 .column-2{
    margin: 0 10px;
    
}

.button-aluno{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.campo p {
    color: #0060EB;
    font-weight: 500;
}


.none{
    display:none !important;
}
/* Titulo das Perguntas */

.titulo{
    padding-top: 20px;
    margin: 0 auto;
}

/* Espaçamento entre os rádios */

.space-radio{
    margin-right: 10px;
}

/* Section */
.style-section-one{
    margin-top: 50px;
    margin-bottom: 50px;
}
.stylesH2{
  
    margin-bottom: 35px;
}
.column-flex{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}


.column{
    width: 280px;
    margin-left: 30px;
    margin-top: 20px;
}

.submit-aluno-cancel{
    width: 200px;
    height: 35px;
    background: red;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 3px;
}
.submit-aluno-cancel:hover{

    background: tomato;

}
.submit-aluno-env{
    width: 100%;
    margin: 10px 0px;
    height: 50px;
    background:    #0060EB;
    border: none;
    font-weight: 500;
    color: white;
    border-radius: 3px;
}

.submit-aluno-env:hover{
    background: green;
}
@media (max-width: 530px){
    .flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .column{
        flex: 1 0 280px;
    } */
    .column-flex{
        justify-content: center;
        flex-wrap: wrap !important;
    }
    .submit-aluno-cancel{
        margin-left: 1px;
    }

}

@media (max-width: 399px){
    .button-aluno{
        justify-content: center;
    }
    .submit-aluno-env{
        margin-top: 20px ;
    }
}


/* PROFESSOR E ADMINISTRAADOR */

.flex-admin-professor{
    display: flex;
    justify-content: center;
}

.coluna-cadastro-first-admin{
    width: 50%;
}

.input-global-cadastro-first-entrada{
    width: 100% !important;
    border: 2px solid #0060EB;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
}

.preenchimento-obrigatorio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.preenchimento-obrigatorio p{
    font-size: 18px;
    margin: 5px 5px !important;
    color:  #0060EB;
}

.preenchimento-obrigatorio label{
    
    font-weight: 600;
}
@media (max-width: 1000px){
    .coluna-cadastro-first-admin{
        width: 80%;
    }
}

.espaco{
    margin-bottom: 20px;
}