.flex-list-all-bg{
    padding-top: 20px;
    background: #0060EB;
    margin-top: 0;
  
}
.bg-footer{
    background: #0060EB;
    padding-bottom: 100px ;
}
.flex-pesq-list-all{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center !important;
}
.list-instituicao-all-bg{
   height: 83vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: white;
}

.pesquisa-aluno-list-all{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 10px 5px;
}

.titulo-aluno-list-all{
    font-weight: 600;
    font-size: 30px;
    color: white;
   
}
.tamanho-pesq-atributos{
    height: 50%;
}

/* Próxima list */
.next-aluno-list-all{
    padding: 10px 30px;
    background: tomato;
    border-radius: 10px;
}

.perfil-aluno-list-all{
    background: white;
}
.columns-titulos-instituicao{
    display: flex;
    justify-content: space-between;
}
.container-coluna-width-definido{
    width: 15%;
    text-align: center;
   
}

.margin-list-instituicao{
    margin: 5px !important;
}

/* Footer */

.flex-visualizar-list{
    display: flex;
    margin: 5px;
}

.flex-next-prev-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.back-button-list-all{
    padding: 10px 50px;
    margin: 10px 5px;
}
.btn-list-color-voltar{
    background: tomato;
    border: 1px solid tomato;
    color: white;
    font-weight: 500;
}
.btn-list-color-proximo{
    background: #05CAB6;
    border: 1px solid #05CAB6;
    color: black;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width: 100%;
    margin: 0 auto;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.diplay-none-mobile{
    display: none;
}

@media (max-width: 900px){
    .bg-footer{
        height: 10vh;
    }
    .diplay-none-mobile{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 90vh;
    }
    .display-none-desktop{
        display: none;
    }
    .editar-instituicao-mobile{
        text-align: center;
    }
    .mobile-table{
        border: 5px solid #0060EB;
        margin: 5px 5px;
        padding: 10px;
    }
    .mobile-table p {
        border-bottom: 1px solid #0060EB;
        font-size: 16px
    }
    .mobile-table div{
        margin: 5px 0px;
    }
    
    .border-none-instituicao{
        border: none !important;
    }
}
@media (max-width: 343px){
    .btn-list-color-voltar{
        width: 100%;
    }
    .btn-list-color-proximo{
        width: 100%;
        order: -100;
    }
   

}




/*  global */


.mobile-teste-global{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}